#turkey-map {
  text-align: center;
  font: normal 16px 'Helvetica Neue', 'Arial';
  overflow: hidden;
  position: relative;
  margin: auto;
}
#turkey-map #turkey > g > g {
  transition: all 0.2s;
}
#turkey-map #turkey > g > g path,
#turkey-map #turkey > g > g polygon,
#turkey-map #turkey > g > g g {
  transition: all 0.2s;
}
#turkey-map[data-map='city'] .map-tooltip span {
  display: none !important;
}
#turkey-map .map-container {
  width: 100%;
  height: 100%;
}
#turkey-map.zoomed #turkey > g > g path,
#turkey-map.zoomed #turkey > g > g polygon,
#turkey-map.zoomed #turkey > g > g g {
  opacity: 0.2;
}
#turkey-map.zoomed #turkey > g.selected path,
#turkey-map.zoomed #turkey > g.selected polygon,
#turkey-map.zoomed #turkey > g.selected g {
  opacity: 1;
}
#turkey-map.zoomed #turkey > g.selected path:hover,
#turkey-map.zoomed #turkey > g.selected polygon:hover,
#turkey-map.zoomed #turkey > g.selected g:hover,
#turkey-map.zoomed #turkey > g.selected path.selected,
#turkey-map.zoomed #turkey > g.selected polygon.selected,
#turkey-map.zoomed #turkey > g.selected g.selected {
  opacity: 0.7 !important;
}
#turkey-map svg {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
#turkey-map svg #turkey > g {
  /* city */
}
#turkey-map svg #turkey > g:hover > g,
#turkey-map svg #turkey > g.selected > g {
  transition: all 0.2s;
  cursor: pointer;
  opacity: 0.7;
}
#turkey-map svg #turkey > g:hover > g:hover,
#turkey-map svg #turkey > g.selected > g:hover,
#turkey-map svg #turkey > g:hover > g.selected,
#turkey-map svg #turkey > g.selected > g.selected {
  opacity: 0.3 !important;
}
#turkey-map svg #turkey > g text {
  display: none;
}
#turkey-map .map-tooltip {
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  margin-top: -40px;
  z-index: 999999;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 20px;
  color: #333;
  opacity: 0;
}
#turkey-map .map-tooltip:before {
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-top: 8px solid #fff;
  border-bottom: 0;
  position: absolute;
  left: 50%;
  bottom: -7px;
  margin-left: -10px;
}
#turkey-map .map-tooltip.hovered {
  opacity: 1;
}
#turkey-map .map-tooltip span {
  background-color: #ddd;
  border-radius: 20px;
  padding: 3px 6px;
  text-transform: uppercase;
  display: inline-block;
  margin: -2px 5px 0 -4px;
  font-size: 11px;
}
#turkey-map.zoomed .map-title {
  opacity: 1;
  transform: translateX(0);
}
#turkey-map.zoomed .map-title .map-close {
  transform: rotate(0deg);
}
#turkey-map .map-title {
  position: absolute;
  left: 50px;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  font-size: 36px;
  letter-spacing: -1px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.2s;
  transform: translateX(-500px);
}
#turkey-map .map-title .map-close {
  background: url('../img/back.png') 16px 20px no-repeat;
  display: inline-block;
  background-size: 24px 24px;
  width: 55px;
  cursor: pointer;
  padding: 10px 20px;
  height: 64px;
  vertical-align: top;
  transition: all 0.4s;
  transform: rotate(720deg);
}
#turkey-map .map-title .map-close:hover {
  transform: scale(1.2);
}
#turkey-map .map-title strong {
  vertical-align: top;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: inline-block;
}
